- if (!everyauth.loggedIn)
  h2 Not Authenticated
  #register
    a(href='/register') Register
  #password-login
    a(href='/login', style='border: 0px') Login with Password
- else
  h2 Authenticated

  h2 Users
  pre #{users}

  h3
    a(href='/logout') Logout
